.react-multi-carousel-item {
  width: 360px !important;
}

.stories-slider {
  height: calc(100vh - 56px);
  background: #1A1A1A;
}

.stories-slider  div {
  // display: flex;
  // width: 100%;
}

.stories-slider .w-80 {
  width: 360px;
}

.stories-slider .slide > div {
  background: #332020 !important;
}

.stories-slider {
  .slide {
    transition: transform 0.3s linear;
    
    &:first-child,
    &:last-child {
      transform: scale(0.6);
    }
  }

  ._1CK7FHVwhiOnuCiZJwiPq1 {
    display: block;
    width: 40px;
  }
}

.btn-prev,
.btn-next {
  z-index: 9999;
  margin-top: -20px;
}

.btn-prev {
  margin-left: -235px;
}

.btn-next {
  margin-right: -275px;
}