.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 20;  
  margin-top: -10px;
  width: 30px;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background:rgba(255,255,255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
}

.alice-carousel__next-btn {
  left: auto;
  right: 5px;
}

.alice-carousel__prev-btn-item.__inactive,
.alice-carousel__next-btn-item.__inactive {
  display: none !important;
}