.bg-gradient-instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.bg-gray-100 {
  background: #F3F4F7 !important;
}

.react-multi-carousel-track  {
  /* width: 100%; */
}

.sidebar {
  @media (min-width: 960px) {
    width: 360px;
  }
}

.content {
  @media (min-width: 960px) {
    width: calc(100% - 360px);
  }
}

.users-slider {
  .img-avatar {
    // background: linear-gradient(to right, rgba(251,173,80,1) 0%,rgba(188,42,141,1) 100%);
    background: linear-gradient(45deg, rgba(251,173,80,1) 0%,rgba(188,42,141,1) 100%);
    position: relative;
    width: 64px;
    height: 64px;
    padding: 4px;

    &:after {
      content:'';
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border: 2px solid #fff;
      z-index: 1;
      pointer-events: none;
      border-radius: 100%;
    }
  }
}