//colors
$white: #fff;
$black: #000;
$blue: #345BFF;
$light-purple: #EBEFFF;
$light-pink: #FFEEEB;
$light-yellow: #F6FFC4;
$light-grey: #F8F8F8;
$primary-grey: #343A40;
$secondary-grey: #CED4DA;
$tertiary-grey: #868E96;
$red: #F03E3E;

$primary-color: $blue;
$secondary-color: $light-purple;
$tertiary-color: $light-yellow;
$info: $light-pink;
$border-color: $secondary-grey;

//progress bars
$color-low: #F00;
$color-medium: #F3DD8C;
$color-high: #7BBC8F;