

.rodal-dialog {
  background: none;
  width: 100% !important;
  height: 100vh !important;
  overflow-y: auto;
  padding: 50px;
  display: flex;
  align-items: center;
  background: #1B1B1B;
}

.rodal-close {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.rodal-close:before, .rodal-close:after {
  background: #fff !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: fixed;
  left: 50px;
  top: 40px;
  z-index: 888;
  background: white;
  width: 50px;
  height: 50px;
}

.swiper-button-next {
  left: auto;
  right: 50px;
}